.navbar {
  width: 100%;
  height: 100px;
  background-color: #121619;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center; 
}

.navbar .leftSide {
  flex: 1; 
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px; 
}

.navbar .leftSide img {
  width: 70px;
}


.navbar .navbarToggle {
  display: none; 
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 50px; 
}

.navbar .navbarToggle svg {
  font-size: 40px;
}

.navbar .navLinks {
  flex: 1; 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.navbar .navLinks a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between; 
  }

  .navbar .navbarToggle {
    display: block; 
  }

  .navbar .navLinks {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #121619;
    width: 100%; 
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar .navLinks.open {
    display: flex; 
  }

  .navbar .navLinks.open a {
    font-size: 24px; 
    font-weight: bold; 
    margin: 15px 0; 
  }
}
