/* Footer.css */
.footer {
    background-color: #333;
    color: rgb(201, 5, 5);
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-media-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.social-media-links a:hover {
    color: #ddd;
}
